html {
    font-family: 'IM Fell DW Pica SC', serif;
    background-color: black;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

/*General CSS - all media queries*/

#intro-img {
    width: 100%;
    height: 100vh;
    background-image: url("../Images/bg-a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
#intro-text {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.intro-description {
    margin-top: 0px;
    margin-bottom: 0px;
}

#scroll-instruction {
    margin-top: 100px;
}

@media (min-width: 950px) {
    h1 {
        font-size: 70px;
    }
    .intro-description {
        font-size: 25px;
    }
    #scroll-instruction {
        font-size: 25px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 949px) {
    h1 {
        font-size: 7vw;
    }
    .intro-description {
        font-size: 2.5vw;
    }
    #scroll-instruction {
        font-size: 25px;
    }
  }

 @media (max-width: 768px) {

    h1 {
        font-size: 50px;
    }
    .intro-description {
        font-size: 20px;
    }
    #scroll-instruction {
        font-size: 20px;
    }  
}
 


#scroll-effect {
 
}
#heading {

}
#project-description {

}
#project-image {

}
 
